extends base

block content 
  main.main 
    - if(tours.length == 0)
        h1(style='text-align:center') we didn't find any tour! :(
    .card-container 
      each tour in tours 
        include _card